@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<div class="text-center">
	<p>
		Welcome to our crepe restaurant !
		<br />
		<i>An application to discover <a href="https://supabase.com/" target="_blank">Supabase</a></i>
	</p>
	<div class="p-2">
		<a class="btn btn-primary" href="/crepes">Commander ici</a>
	</div>
	<img src="/logo.jpg" class="img-fluid" />
</div>