@using Blazor.Supabase.Web.Components.Layout

@inherits LayoutComponentBase
@layout MainLayout

<div class="p-3">
	<ul class="list-group list-group-horizontal">
		<li class="list-group-item">
			<a class="btn btn-secondary" href="/admin/dashboard">Dashboard</a>
		</li>
		<li class="list-group-item">
			<a class="btn btn-secondary" href="/admin/crepes">Crepes</a>
		</li>
		<li class="list-group-item">
			<a class="btn btn-secondary" href="/admin/ingredients">Ingredients</a>
		</li>
	</ul>
</div>
<div>

	@Body

</div>


