<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Crepe Store ! </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="crepes">
                <span class="bi bi-circle-fill-nav-menu" aria-hidden="true"></span> Crepes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/dashboard">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/kitchen">
                <span class="bi" aria-hidden="true"></span> Kitchen
            </NavLink>
        </div>
    </nav>
</div>

